/* CSS DOCUMENT */
@charset "UTF-8"; 
@font-face {
    font-family: "Archivo Regular";
    src: url(fuentes/Archivo-Regular.ttf) format(ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Archivo Bold";
    src: url(fuentes/Archivo-Bold.ttf) format(ttf);
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Archivo Italic";
    src: url(fuentes/Archivo-Italic.ttf) format(ttf);
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "Archivo Light";
    src: url(fuentes/Archivo-Light.ttf) format(ttf);
    font-weight: lighter;
    font-style: normal;
}

*{
font-family: "Archivo Regular", sans-serif;
background-color: lightgray;
list-style: none;
}

/*aca empiezan las aplicaciones*/

h1, h2, h3 {
    font-family: "Archivo Regular" sans-serif;
    color: blue;
    text-align: center;
}

h1 {
    font-size: 3rem;
    line-height: 2rem; 
}

h2{
    font-size: 2rem;
    line-height: 1rem;
}

h3{
    font-size: 2rem;
    line-height: 1rem;
}

p{
    text-wrap-style: balance;
    text-align: center;
}

