/* CSS DOCUMENT */
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@400;600;700&display=swap');

/*CONFIGURACIÓN GENERAL*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Unbounded", sans-serif;
    color: #fff;
    background: linear-gradient(to bottom, #1A00FF, #000000) ;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
}

/*ENLACES*/
a{
    text-decoration: none;
    color: inherit;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

/*HEADER GENERAL*/
.header{
    width: 100%;
    background: #77FF00;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    position: sticky;
    top: 0px;
}

.nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 227px;
}

.nav a{
    color: #000000;
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover{
    opacity: 0.6;
}

/*--INDEX DE INICIO--*/
main{
    flex: 1;
    padding: 6rem 16rem;
}

/*SECCIÓN PRESENTACIÓN*/
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
    gap: 1.5rem;
}

.intro h1{
    font-size: 5rem;
    line-height: 1.3;
    margin-block-end: 12rem;
}

.intro .subtitulo{
    margin-top: 2rem;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 1px;
}

.intro .apellido{
    font-size: 8rem;
    margin: -8px;
    font-weight: 700;
}

.intro .nombre{
    font-size: 1.2rem;
    color: white;
}

.roles{
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-top: 1.5rem;
    margin-block-end: 20rem;
}

/*--ANIMACION PARA ROLES--*/
.roles span{
    opacity: 0;
    transform: translateY(20px);
    animation: aparecer 1s ease forwards;
}

.roles span:nth-child(1){animation-delay: 0.4s;}
.roles span:nth-child(2){animation-delay: 0.8s;}
.roles span:nth-child(3){animation-delay: 1.2s;}
.roles span:nth-child(4){animation-delay: 1.6s;}

@keyframes aparecer{
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

/*--SOBRE MI--*/
.sobre.mi{
    background-color: #000000;
    color: #fff;
    padding: 80px 10%;
    text-align: left;
}

.sobre.mi h3{
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.texto-sobre.mi{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
}

.texto-sobre.mi p{
    max-width: 600px;
    line-height: 1.6;
    font-size: 0.9rem;
}

.texto-sobre.mi img{
    width: 250px;
    border-radius: 10px;
}

.mano img{
    width: 60px;
    margin-top: 20px;
    margin-block-end: 12rem;
}
